<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CrossBrowserSuite">

<test name="Test on Chrome">
    <parameter name="browser" value="chrome" />
    <classes>
        <class name="CrossBrowserTest" />
    </classes>
</test>

<test name="Test on Chrome 2">
    <parameter name="browser" value="chrome" />
    <classes>
        <class name="Testclass2" />
    </classes>
</test>

</suite>
